* {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0rem;
    padding: 0rem;
}

html {
    /* border: .1rem green solid; */
}

body {
  /* border: .1rem blue solid; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
    /* border: .1rem red solid; */
    height: 4rem;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    align-content: center;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
}

.logo {
    border: .1rem blue solid;
    background-color: blue;
    color: #eee;
    font-weight: bold;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    padding: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-right: .7rem;
}

.titulo {
    /*border: .1rem #06dcf8 solid;*/
}

section {
    /* border: .1rem purple solid; */
    display: flex;
    flex: 1;
}

nav {
    /* border: .1rem orangered solid; */
    width: 10rem;
    background-color: #eee;
    padding: .5rem;
}

main {
    /* border: .1rem rgb(74, 234, 74) solid; */
    display: flex;
    flex: 1;
    padding: .5rem;
}

footer {
    /* border: .1rem gray solid; */
    height: 4rem;
    padding: .5rem;
    background-color: #252323;
    color: #eee;
}
